:root {
    --bg-color: #0008C3;
    --dark-blue-stroke: #0007A3;
    --blue-accent: #333ADE;
    --yellow: #FAFF00;
    --text-color: #ffffff;
    --white: #ffffff;
    --placeholder-color: #C4C6F1;
    --dark-teal: #008B72;
    --light-teal: #00E5BC;
}

html {
    background-color: var(--bg-color);
    font-family: "EB Garamond", "serif";
    color: var(--dark-blue-stroke);
    overflow-x: hidden;
}

body {
    margin-top: 20px;
    overflow-x: scroll;
}

    body::-webkit-scrollbar {
        display: none;
    }

header {
    width: 260px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 0 auto;
}

footer {
    background-image: url(../assets/footer.png);
    width: 260px;
    background-size: contain;
    margin: 0 auto;
    height: 50px;
    background-repeat: no-repeat;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

#menu {
    display: none;
    height: 40px;
    width: 40px;
    border: 1px solid var(--white);
    position: relative;
    top: 12px;
    border-radius: 24px;
    left: 0px;
    transition: left 0.2s ease;
}

    #menu:hover {
        cursor: pointer;
        left: 8px;
    }

    #menu>svg {
        position: relative;
        left: 8px;
        top: 10px;
    }

#searchCard {
    position: relative;
    left: 0px;
    transition: left 0.2s ease;
}

#resourceCard,
#infoCard {
    display: none;
    /* margin-right: 20px; */
}

    #resourceList {
        display: block;
    }

    .resource {
        width: 220px;
        height: 368px;
        margin: 0 auto;
        position: relative;
        top: 16px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

        .resource > div {
            display: none;
        }

            .resource>div>img {
                padding: 20px;
                display: block;
                margin: 0 auto;
            }

            .resource>div>h4 {
                font-size: 18px;
                font-weight: 400;
                font-style: normal;
                margin-block-start: 8px;
                margin-block-end: 8px;
            }

            .resource>div>hr {
                border: 1px dotted var(--placeholder-color);
            }

            .resource>div>p {
                font-size: 0.9em;
                letter-spacing: 0.025em;
            }

                .resource>div>p>a {
                    text-decoration: none;
                    font-style: italic;
                    border-bottom: 1px solid var(--dark-teal);
                    color: var(--dark-blue-stroke);
                }

                    .resource>div>p>a:hover {
                        color: var(--dark-teal);
                    }

                .resource>div>ul {
                    list-style: none;
                    margin-block-start: 8px;
                    padding-inline-start: 0;
                    letter-spacing: 0.01em;
                    font-size: 16px;
                }

                .resource>div>ul>li {
                    text-decoration: none;
                    font-style: italic;
                    color: var(--dark-blue-stroke);
                }

                .resource>div>ul>li>a {
                    text-decoration: none;
                    color: var(--dark-blue-stroke);
                    border-bottom: 1px solid var(--placeholder-color);
                    padding-bottom: 2px;
                }

                .resource>div>ul>li>a:hover {
                    color: var(--dark-teal);
                }

                    .resource>div>ul>li::before {
                        content: "+ ";
                    }

        .resource > div:target {
            display: block;
        }

        .resource::-webkit-scrollbar {
            display: none;
        }

        .resource>ul {
            list-style: none;
            padding-inline-start: 0;
            margin-block-start: 0;
        }

        .resource>ul>li {
            font-size: 18px;
            letter-spacing: 0.02em;
            padding: 8px 0;
            border-bottom: 1px solid var(--placeholder-color);
        }

        .resource>ul>li>a {
            text-decoration: none;
            font-style: normal;
            color: var(--dark-blue-stroke);
        }

        .resource>ul>li>a:hover {
             font-style: italic;
        }


h1 {
    text-align: center;
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-style: italic;
}

    

.container {
    display: flex;
    margin: 0 auto;
}

    #cardContainer {
        width: 260px; /*540px expanded*/
        transition: width 0.2s ease;
    }

.card {
    width: 260px;
    height: 400px;
    background-color: var(--white);
    border: 1px solid var(--dark-blue-stroke);
    border-radius: 14px;
    margin: 0 auto;
    background-image: url('../assets/card.svg');
    background-position: left;
}

    .card-2 {
        display: inline-block;
        background-image: none;
    }

.form {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--dark-blue-stroke);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

    input {
        color: var(--dark-blue-stroke);
        font: 400 14px 'EB Garamond';
        border: none;
    }

        input[type=text] {
            font: 400 2em 'EB Garamond', serif;
            position: relative;
            top: 10px;
            text-align: center;
        }

        input::placeholder {
            color: var(--placeholder-color);
        }

        input:focus {
            outline: none;
        }

        input:focus::placeholder {
            color: transparent;
        }

    #input001 {
        text-transform: lowercase;
        height: 40px;
        font-family: "EB Garamond", serif;
        font-size: 28px;
        color: var(--dark-blue-stroke);
        border: none;
        width: 50%;
        min-width: 150px;
    }

        a#learnMore {
            height: 40px;
            border: 1px solid var(--white);
            width: 120px;
            border-radius: 4px;
            padding: 8px;
            text-decoration: none;
        }

    .form>button {
        background-color: var(--white);
        width: 40px;
        border-radius: 2em;
        border: 1px solid var(--dark-blue-stroke);
        font-family: 'EB Garamond', serif;
        font-size: 1.8em;
        color: var(--dark-blue-stroke);
    }

        .form>button:hover {
            background-color: var(--bg-color);
            color: var(--white);
        }

        .form>button:focus {
            outline: none;
        }

    #result {
        background-color: var(--dark-blue-stroke);
        color: white;
        width: 80%;
        max-width: 400px;
        height: 200px;
        border-radius: 12px;
        margin: 0 auto;
    }

        #result>h4 {
            margin: 0 auto;
            width: 80%;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 10px;
            font-family: 'EB Garamond', serif;
            font-weight: 400;
            letter-spacing: 0.03em;
            font-size: 18px;
            font-style: italic;
        }

        #result>hr {
            border: 1px solid var(--blue-accent);
            width: 68%;
            margin: 0 auto;
            margin-bottom: 16px;
        }

        #result>p {
            width: 140px;
            text-align: center;
            height: auto;
            margin: 0 auto;
            font-family: 'EB Garamond', serif;
            font-size: 16px;
            font-weight: 400;
            overflow: hidden;
            letter-spacing: 0.02em;
            padding-bottom: 10px;
        }

            #result>ul {
                list-style: none;
                margin-block-start: 8px;
            }

            #result>p>a,
            #result>ul>li>a {
                color: white;
                letter-spacing: 0.03em;
                font-style: italic;
            }

                #result>p>a:hover,
                #result>ul>li>a:hover {
                    color: var(--light-teal);
                }

            #result>ul>li::before {
                content: "+ ";
                margin-left: 4px;
            }

            